* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
  }
.info-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
	font-family: 'Kanit', sans-serif;
  }
  
  .info-image {
	width: 48%;
  }
  
  .info-text {
	width: 48%;
  }
  
  .info-image img {
	padding-left: 5%;
	width: 100%;
  }
  
  @media (max-width: 768px) {
	.info-section {
	  flex-direction: column;
	}
	
	.info-image {
	  width: 100%;
	}
	
	.info-text {
	  width: 100%;
	  margin-top: 30px;
	}
  }
/* toponimia */

.topo-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
	font-family: 'Kanit', sans-serif;
  }
  
  .topo-image {
	width: 48%;
  }
  
  .topo-text {
	width: 48%;
  }
  
  .topo-image img {
	width: 100%;
  }
  
  @media (max-width: 768px) {
	.info-section {
	  flex-direction: column;
	}
	
	.topo-image {
	  padding-left: 5%;
	  width: 100%;
	}
	
	.topo-text {
	  width: 100%;
	  margin-top: 30px;
	}
  }
  h2{
	padding-left: 3%;
  }
  p{
	padding-left: 5%;
  }




